/* app css stylesheet */

body {
  margin: 0;
  padding: 0;
}

/*clearfix*/
.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  zoom: 1; /* IE6&7 */
}

/*simple layout styles*/

.header {
  height: 50px;
  width: 100%;
  background: rgb(60, 150, 180);
}

.footer {}

.leftMenu {
  float: left;
  margin: 0;
  padding: 0;
  width: 175px;
  height: 400px;
  background: rgb(79, 163, 211);
}

.ng-view {
  float: left;
  /*float: right;*/
  margin: 0 30px;
}

.debug {
  width: 400px;
  height: auto;
  padding: 0 20px 40px;
  overflow: scroll;
}


/*Dummy Menu*/

.menu {
  list-style: none;
  /*border-bottom: 0.1em solid black;*/
  margin-top: 0;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/*Forms*/

fieldset ul, fieldset li{
  border: 0;
  margin: 0;
  padding: 0;
  list-style: none;
}
fieldset li{
  clear: both;
  list-style: none;
  padding-bottom: 10px;
}

fieldset input{
  float: left;
}
fieldset label{
  min-width: 140px;
  float: left;
}


/*basic validation marking*/
/*.css-form*/ input.ng-invalid.ng-dirty {
  background-color: #FA787E;
}

/*.css-form*/ input.ng-valid.ng-dirty {
  background-color: #78FA89;
}