<div ng-controller="ContractWizardDetailsCtrl">
	<div ng-form name="formFragment" class="css-form" novalidate>
	<h3>Details Selection</h3>
	<fieldset>
		Product Name: {{productDetails.name}}
		<ul>
			<li ng-repeat="option in productDetails.options">
				Option Group: {{option.name}}
				<div ng-switch on="option.type">
					<div ng-switch-when="radioGroup">										
						<ul>
							<li ng-repeat="item in option.items">
								<input
									type="radio"
									ng-model="option.value"
									value="{{item.id}}"
									radio-value="{{item.id}}"
									id="optionItem_{{item.id}}"
									name="{{option.code}}"/>
									<label for="optionItem_{{item.id}}" />{{item.name}}</label>
							</li>
						</ul>
					</div>

					<div ng-switch-when="check">										
						<ul>
							<li ng-repeat="item in option.items">
								<input
									type="checkbox"
									ng-model="item.value"
									ngTrueValue="true"
									ngFalseValue=""/><!--
									name="{{option.code}}"
								-->
									<label for="optionItem_{{item.id}}" />{{item.name}}</label>
							</li>
						</ul>
					</div>

				</div>

			</li>
		</ul>
		<button ng-click="submit(productDetails)" ng-disabled="isUnchanged(productDetails) || impermissible(productDetails)">Next</button>
	</fieldset>
<pre class="debug">
formFragment.$invalid: {{ formFragment.$invalid }}
productDetails: {{productDetails | json}}
</pre>
	</div>
</div>