<form ng-controller="ContractWizardCtrl">
	<div ng-switch on="wizStep">
	    <!--STEP 1 -->             
	    <div ng-switch-when="search" ng-include="'partials/contract-wizard-search.html'"></div>

	    <!-- STEP 2 -->
	    <div ng-switch-when="products" ng-include="'partials/contract-wizard-product.html'"></div>

	    <!-- STEP 3 -->
	    <div ng-switch-when="details" ng-include="'partials/contract-wizard-details.html'"></div>

	    <!-- STEP 4 -->
	    <div ng-switch-when="customer" ng-include="'partials/contract-wizard-customer.html'"></div>
    </div>
    <button ng-click="reset()">Reset</button>

    <div>
<pre>
Step: {{ wizStep }}
WizardData: {{ WizardDS.data | json }}
</pre>
	</div>

</form>