<div ng-controller="ContractWizardSearchCtrl">
	<fieldset>
		<ul>
			<li><label for="vin">VIN</label>
				<input type="text" ng-model="form.vin">
				</li>
			<li><label for="stock">Stock #</label>
				<input type="text" ng-model="form.stock">
				</li>
			<li><label for="miles">Mileage</label>
				<input type="text" ng-model="form.miles">
				</li>
			<li><label for="condition">Condition</label>
				<select ng-model="form.condition" ng-options="condition for condition in conditions"></select>
				</li>
			<li><label for="saleDate">Sale Date</label>
				<input ng-model="form.date" ui-date>
				</li>
			<li><pre class="debug">
Selected Date: {{ form.date }}<br/>
Formatted Date: {{ form.date | date: 'mediumDate'}}<br/>
Selected Month: {{ form.date.getMonth() }}<br/>
				</pre></li>
			<li><button ng-click="submit()">Next</button>
				</li>
	</fieldset>
<pre class="debug">
Current Form: {{ form | json }}
</pre>
</div>