<div ng-controller="ContractWizardProductsCtrl">
	<h3>{{vehicle.name}}</h3>

	<p>Product Selection: {{form.product_id}}</p>
	<fieldset>
	<ul>
		<li ng-repeat="product in products">
			{{product.name}}
			<ul>
				<li ng-repeat="option in product.options">
					<input type="radio" ng-model="form.product_id"
					value="{{option.id}}" radio-value="{{option.id}}"
					id="option_{{option.id}}" name="option"/><label
					for="option_{{option.id}}" />{{option.name}}</label>
				</li>
			</ul>
		</li>			
	</ul>
	</fieldset>

	<button ng-click="submit()">Next</button>
<pre class="debug">
Current Form: {{form | json}}
Products: {{products | json}}
</pre>
</div>