<div ng-controller="RadioTestCtrl">

	<p>Product Selection: {{form.product_id}}</p>
	
	<ul>
		<li>
			<input type="radio"
			ng-model="form.product_id"
			value="0"
			radio-value="0"
			id="option_a"
			name="option"/>
			<label for="option_a" />First</label>
		</li>
		<li>
			<input type="radio"
			ng-model="form.product_id"
			value="1"
			radio-value="1"
			id="option_b"
			name="option"/>
			<label for="option_b" />First</label>
		</li>
		<li>
			<input type="radio"
			ng-model="form.product_id"
			value="2"
			radio-value="2"
			id="option_c"
			name="option"/>
			<label for="option_c" />First</label>
		</li>
		<li>
			<input type="radio"
			ng-model="form.product_id"
			value="3"
			radio-value="3"
			id="option_d"
			name="option"/>
			<label for="option_d" />First</label>
		</li>
	</ul>

	<!-- <button ng-click="submit()">Next</button> -->
<pre>
Current Form: {{form | json}}
Products: {{products | json}}
</pre>
</div>